
/* Main Container */
.contactpage-container {
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-top: 150px;
}
.contactpage-container h1{
  color: red;
  /* text-align: left; */
}

/* Hero Section */
.contactpage-hero-section {
  background: #f4f4f4;
  padding: 50px;
  border-radius: 10px;
  margin-bottom: 5px;
  max-width: 100%;
  /* margin-top: 150px; */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.contactpage-hero-section h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #ff0000;
  
}

.contactpage-hero-section p {
  font-size: 1.2rem;
  color: #555;
  margin-top: 10px;
  max-width: 100%;
}

/* Contact Form */
.contactpage-form-section {
  background: #fff;
  padding: 50px;
  /* border-radius: 10px; */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.contactpage-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactpage-form-group {
  display: flex;
  gap: 20px;
  width: 100%;
  max-width: 700px;
  margin-bottom: 20px;
}

.contactpage-form-group input,
.contactpage-form-group select {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.contactpage-form textarea {
  width: 100%;
  max-width: 700px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  margin-top: 20px;
  height: 150px;
}

.contactpage-submit-btn {
  background: red;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: 0.3s ease-in-out;
}

.contactpage-submit-btn:hover {
  background: darkred;
}

/* Contact Info Section */
.contactpage-info-section-address {
  display:flex;
  justify-content: space-around;
  padding: 50px;
  background: #ffffff;
  margin-bottom: 10px;
}

/* Contact Info Section */
.contactpage-info-section {
  display:flex;
  justify-content: space-around;
  padding: 50px;
  background: #ffffff;
  margin-right: 270px;
  margin-left: 270px;
}

.contactpage-info-card {
  text-align: center;
  width: 30%;
}

.contactpage-icon {
  font-size: 2.5rem;
  color: red;
}

.contactpage-info-card h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 10px;
}

.contactpage-info-card p {
  font-size: 1rem;
  color: #555;
}

/* Responsive */
@media (max-width: 768px) {
  .contactpage-form-group {
    flex-direction: column;
  }

  .contactpage-info-section-address {
    flex-direction: column;
    align-items: center;
  }

  .contactpage-info-card {
    width: 100%;
    margin-bottom: 20px;
  }

  .contactpage-info-section {
    flex-direction: column;
    align-items: center;
  }
}
